*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --container: 1140px;
  --modal-container: 700px;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: var(--container);
  margin: auto;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
}

.btn {
  background-color: rgb(240, 240, 240);
  color: #000000;
  font-size: 1rem;
  padding: 10px 50px;
  border-radius: 10px;
}

// Header

.header {
  &-nav {
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 230px;
  }
  &-menu {
    &__item {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-img {
    height: 100vh;
    background-image: url(../assets/img/background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &--darker {
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      font-size: 2.5rem;
      margin-bottom: 0.75rem;
    }
    &__subtitle {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem;
      width: 600px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

// /Header

// Modal

.modal {
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--modal-container);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border-bottom: 3px solid #ffffff;
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-close {
    font-size: 2rem;
    cursor: pointer;
  }
  &-container {
    max-width: var(--modal-container);
    padding: 40px;
  }
  &--open {
    display: block;
    z-index: 1;
    animation: openModalWindow 2s;
  }
  &--close {
    display: none;
    z-index: -1;
  }
}

// /Modal

// Animation

// Modal Window Animation
@keyframes openModalWindow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// /Modal window animation

// /Animation
